}
.navbar1 {
    background-color: #1C1B1B;
}

.navbar1 .container a, li {
    color: #6B6565;
}

.header .container-fluid .row {
    background-color: #2B2B2B;
    padding-bottom: 40px;
    padding-top: 60px;
}

.header .container-fluid p, h1 {
    color: #FFFFFF;
}

.header .container-fluid button {
    padding-right: 15px;
    padding-left: 15px;
}

.navbar2 .container  {
    
    margin-top: 50px;
} 

.navbar2 .container a, li {
    color: #6C6C6C;
}


.navbar2 .container ul {
    font-size: 15px;
}

.content .container .col-md-9 .jumbotron h4 {
    color: #FFFFFF;
}

.content .container h7 {
    font-size: 17px;
}



.content .container .panel-danger h5 {
    font-weight: bold;
}

.content .container .col-xs-9 {
    padding-left: 0px;
}

.content .container .col-xs-3 {
    padding-right: 0px;
}




.footers .container {
    background-color: #E6E6E6;
    padding-top: 15px;
    padding-bottom: 3px;
    
}